/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright 2024 CogniPilot Foundation */

/ {
	pwm_shell: pwm_shell {
		compatible = "pwm-leds";
		aux0: aux0 {
			pwms = <&flexpwm2_pwm1 0 PWM_HZ(50) PWM_POLARITY_NORMAL>;
		};
		aux1: aux1 {
			pwms = <&flexpwm2_pwm0 0 PWM_HZ(20000) PWM_POLARITY_NORMAL>;
		};
		aux2: aux2 {
			pwms = <&flexpwm4_pwm2 1 PWM_HZ(20000) PWM_POLARITY_NORMAL>;
		};
		aux3: aux3 {
			pwms = <&flexpwm4_pwm2 0 PWM_HZ(50) PWM_POLARITY_NORMAL>;
		};
		aux4: aux4 {
			pwms = <&flexpwm2_pwm2 1 PWM_HZ(50) PWM_POLARITY_NORMAL>;
		};
		aux5: aux5 {
			pwms = <&flexpwm2_pwm0 1 PWM_HZ(50) PWM_POLARITY_NORMAL>;
		};
		
		gps_buzzer: gps_buzzer {
			label = "GPS_BUZZER";
			pwms = <&flexpwm3_pwm1 0 PWM_KHZ(1) PWM_POLARITY_NORMAL>;
		};
	};

	chosen {
		zephyr,canbus = &flexcan3;
	};

	aliases {
		can0 = &flexcan3;
		/* safety button */
		safety-button = &arming_button;
		/* accelerometers */
		accel0 = &icm42688;
		accel1 = &bmi08x_accel;
		/* gyroscopes */
		gyro0 = &icm42688;
		gyro1 = &bmi08x_gyro;
		/* magnetometers */
		mag0 = &ist8310;
		mag1 = &bmm150;
		/* barometric altimeters */
		baro0 = &bmp388;
		/* wheel odometry */
		wheel-odometry0 = &qdec1;
		buzzer = &gps_buzzer;
	};
};


&flexpwm2_pwm1 {
	nxp,prescaler = <64>;
};

&flexpwm2_pwm0 {
	nxp,prescaler = <64>;
};

&flexpwm4_pwm2 {
	nxp,prescaler = <64>;
};

&flexpwm2_pwm2 {
	nxp,prescaler = <64>;
};


&flexcan3 {
	status = "okay";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
};

/* GNSS 1 */
uart0: &lpuart2 {
		status = "okay";
		current-speed = <38400>;
};


&pinctrl {

	pinmux_qdec1: pinmux_qdec1 {
		group0 {
			pinmux = <&iomuxc_gpio_b1_00_xbar1_xbar_in14>,
				<&iomuxc_gpio_b1_01_xbar1_xbar_in15>;
			drive-strength = "r0-5";
			slew-rate = "slow";
			nxp,speed = "100-mhz";
		};
	};
};

&qdec1 {
	status = "okay";
	pinctrl-0 = <&pinmux_qdec1>;
	pinctrl-names = "default";
	counts-per-revolution = <685>;
	filter-count = <0>;
	xbar = < &xbar1 >;
};

&xbar1 {
	status = "okay";
	xbar-maps = < (14|0x100) (109|0x100) >, /* kXBARA1_InputIomuxXbarIn14 <-> kXBARA1_OutputDec1Phasea */
		    < (15|0x100) (108|0x100) >; /* kXBARA1_InputIomuxXbarIn15 <-> kXBARA1_OutputDec1Phaseb */
};
